@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

:root{
    --dark-grey: #2f3640;
    --dark-green: #009432;
    --light-green: #2ecc71;
    --light-grey: rgba(209, 216, 224,0.5);
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--dark-grey);
}

body{
    height: 100%;
    width: 100%;
}

.wrapper{
    width: 800px;
    margin: 30px auto 0 auto;
    padding: 10px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

h1, h2{
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}

h1{
    font-weight: 400;
    font-size: 3em;
}

h2{
    font-weight: 500;
    font-size: 1.8em;
    color: var(--dark-green);
}

.name-box, .date-amount-box{
    display: flex;
    padding: 5px;
    font-size: 20px;
}

input{
    border: 1px solid grey;
    border-radius: 5px;
}

.name-box label {
    margin-right: 10px;
}

.name-box input{
    flex-grow: 1;
    padding: 3px;
    font-size: 16px;
}

.date-amount-box label{
    margin: 0 10px;
}

.date-amount-box label:first-child{
    margin-left: 0;
}

.date-amount-box input:first-child{ padding: 3px; }

.date-amount-box input{
    flex-grow: 1;
    font-size: 16px;
    padding: 2px;
}

.add-button{
    position: relative;
    width: 200px;
    align-self: center;
    background-color: var(--dark-green);
    color: #fff;
    padding: 10px;
    margin: 3% 0 5% 0;
    font-size: 1.1em;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
    outline: none;
}

.add-button:hover{
    transform: scale(1.05);
    transition: .2s ease-in-out;
    box-shadow: 0 0 5px 3px var(--light-grey);
}


table, td{
    padding: 5px;
    font-size: 1.1em;
    border-left: 0.5px solid var(--light-grey);
}

table{
    border-collapse: collapse;
}


.delete-btn{
    color: #fff;
    background-color: var(--dark-green);
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

/* popup section */

#overlay{
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: .2s ease-in-out;
}

.popup-info{
    opacity: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    border: solid 2px var(--dark-grey);
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    transition: .2s ease-in-out;
}

.popup-info p{
    position: relative;
    text-align: center;
    font-size: 1.2em;
    margin-top: 45px;
}

.popup-info button{
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    position: fixed;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    outline: none;
    cursor: pointer;
}

/* active */

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.popup-info.active{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}



